### Intellij ###
# TODO: Checkstyle?

**/.idea/
**/*.iml

**/out/
**/target/

node_modules/
package-lock.json

**/libs/logs/

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
